.navbar{
  /*background-color: white;*/
  background-color: #333;
  border-color: transparent !important;
  border-radius: 0px !important;
}

.nav-top-container{
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.navbar-nav>li>a{
  padding-bottom: 8px !important;
}

.navbar-brand{
  color: white;
}
@media all and (max-width: 786px) and (min-width: 768px)
{
  .nav-top-container{
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
}

.nav-container{
  margin-top:10px;
  margin-bottom: 10px;
}

.main-nav li a:link,
.main-nav li a:visited
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  color: white;

  margin-right: 10px;
  border-bottom: 2px solid transparent;
  background-color: transparent !important;
  -webkit-transition: border-bottom 0.2s;
  transition: 0.2s;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
  border-bottom: 2px solid #CE6D39;
  background-color: transparent !important;
  color: #CE6D39;
  /*color: blue;*/
  font-weight: bold;
}

.activated{
  font-weight: bolder;
  color: #CE6D39 !important;
  border-bottom: 2px solid #CE6D39 !important;
}

.navbar-brand{
  font-size: 120%;
}



