<nav class="navbar navbar-default nav-top-container">
  <div class="container-fluid nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand" (click)="brandClicked()">Manish Jaiswal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav main-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="/about"
             id="about"
             [ngClass]="{'activated':aboutClicked}"
             (click)="onClick($event)">About</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/projects"
             id="projects"
             [ngClass]="{'activated':projectsClicked}"
             (click)="onClick($event)">Projects</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/experience"
             id="experience"
             [ngClass]="{'activated':experienceClicked}"
             (click)="onClick($event)">Experience</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/skills"
             id="skills"
             [ngClass]="{'activated':skillsClicked}"
             (click)="onClick($event)">Skills</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact"
             id="contact"
             [ngClass]="{'activated':contactClicked}"
             (click)="onClick($event)">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
