<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <ul class="social-links">
        <li><a href="https://github.com/manish237" target="_blank"><i class="ion-social-github"></i></a></li>
        <li><a href="https://plus.google.com/u/0/+manishjaiswal23" target="_blank"><i class="ion-social-googleplus"></i></a></li>
        <li><a href="www.linkedin.com/in/manishjaiswal7" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        <li><a href="mailto:manish23@gmail.com" target="_blank"><i class="ion-ios-email"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
