<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <ul class="social-links" role="menu">
        <li role="menuitem"><a href="https://github.com/manish237" target="_blank"><i class="ion-social-github" role="link"></i></a></li>
        <li role="menuitem"><a href="https://plus.google.com/u/0/+manishjaiswal23" target="_blank"><i class="ion-social-googleplus" role="link"></i></a></li>
        <li role="menuitem"><a href="www.linkedin.com/in/manishjaiswal7" target="_blank"><i class="ion-social-linkedin" role="link"></i></a></li>
        <li role="menuitem"><a href="mailto:manish23@gmail.com" target="_blank"><i class="ion-ios-email" role="link"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
