<div class="text-center hero-head">
  <div class="hero-head-content">
    <h1 class="hero-head-title" id="hero-head-title" role="heading">I am Manish Jaiswal</h1>
    <p class="hero-head-subtitle" id="hero-head-subtitle" role="heading">Full Stack Web Developer and Web Technologies Neophile</p>
  </div>
</div>

<div class="container about-content">
  <div class="row content-row">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-xs-12 img-container">
          <img class="img-responsive profile-pic" src="assets/img/profile_pic.png" alt="Profile Pic" role="img">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row desc-container">
        <div class="col-xs-12 " role="article">
          <p class="about-desc">With <b>11+ years</b> in hand-on development, leading geo-dispersed teams, and managing the development of many internal customer-facing projects (customer service tools) at PayPal I bring a unique perspective in how to manage software development to get products in customers’ hands and ensure that those products create the desired experience. </p>
          <p>My strengths are knowing how to create the right customer experience with efficient tools, technology, collaboration across various areas, and by leading teams with esprit de corps. Running various projects in a clutch is also something I have done repeatedly and delivered what was required, often exceeding expectations.</p>
          <p class="about-desc">A recent graduate Front End Web Development Career Path bootcamp at Thinkful focussing on HTML5, CSS3, Node JS, Angular JS/Angular 2.</p>
        </div>
      </div>
    </div>
  </div>
</div>
