<div class="container parent-container">
  <section class="experience" role="region">
    <div class="row">
      <div class="col-xs-12">
        <h1 role="heading">Experience</h1>
      </div>
    </div>
    <div class="row exp-row">
      <div class="col-md-4">
        <h4 role="heading">PayPal, Inc. (MTS-2 Software Engineer)</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime" role="article">July 2009 - Till Date</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
    <div class="row exp-row">
      <div class="col-md-4">
        <h4 role="heading">CSC India Pvt. Limited, India (Software Engineer)</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime" role="article">July 2006 - June 2009</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
  </section>
  <section class="education" role="region">
    <div class="row">
      <div class="col-xs-12">
        <h1 role="heading">Education</h1>
      </div>
    </div>
    <div class="row ed-row">
      <div class="col-md-4">
        <h4 role="heading">Master’s, Information Technology</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime" role="article">2006</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
    <div class="row ed-row">
      <div class="col-md-4">
        <h4 role="heading">Bachelor of Information Sciences</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime" role="article">2003</span>
      </div>
    </div>

  </section>
</div>
