<div class="container parent-container">
  <section class="experience">
    <div class="row">
      <div class="col-xs-12">
        <h1>Experience</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4>PayPal, Inc. (MTS-2 Software Engineer)</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime">July 2009 - Till Date</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4>CSC India Pvt. Limited, India (Software Engineer)</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime">July 2006 - June 2009</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
  </section>
  <section class="education">
    <div class="row">
      <div class="col-xs-12">
        <h1>Education</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4>Master’s, Information Technology</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime">2006</span>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
      </div>
    </div>-->
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4>Bachelor of Information Sciences</h4>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <span class="positiontime">2003</span>
      </div>
    </div>

  </section>
</div>
