<section class="experience">
  <div class="row">
    <div class="col-xs-12">
      <h1>Experience</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
</section>
<hr>
<section class="education">
  <div class="row">
    <div class="col-xs-12">
      <h1>Education</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="positiontime">January 2012 - Till Date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi in nam placeat quae ratione saepe! A aliquid beatae culpa ea, eos hic provident quaerat quibusdam ratione repellat sed unde, voluptatem!</p>
    </div>
  </div>
</section>
