.parent-container{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/*
.experience, .education{
  padding:20px;
  padding-left: 40px;
}
*/
.experience, .education{
  margin-top: 10%;
}

/*.experience{
  margin-top: 20%;
}*/

.exp-row, .ed-row{
  margin-top: 20px;
}


@media (max-width: 779px) {

  .experience, .education{
    margin-left: 15%;
  }
  .experience{
    margin-top: 15%;
  }

}


@media (max-width: 549px) {


  .experience{
    margin-top: 20%;
  }

}
