<div class="container parent-container">
  <div class="row proj-data-container" >
    <div class="col-xs-12 col-md-4 col-lg-4 img-container">
      <a href="assets/img/capstone1/01.jpg" target="_blank" role="link">
        <img src="assets/img/capstone1/01.jpg" alt="Capstone 1 Screenshot 1" class="img-responsive" role="img">
      </a>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 data-container">
      <div class="row title-row">
        <div class="col-md-12">
          <h1 class="title" role="heading">AIRPORT INFO APP</h1>
        </div>
      </div>
      <div class="row desc-row">
        <div class="col-md-12" role="article">
          <p>A simple application which allows users to get critical information about their destination airport. The information provided include flight status and weather conditions at the airport and also points to near by places of interests like Restaurants etc.</p>
          <p><b>Technologies Used</b> - HTML5, CSS, Bootstrap, JQuery</p>
        </div>
      </div>
      <div class="row link-row">
        <div class="col-md-6 col-xs-6 ">
          <span class="pull-right">
            <a class="btn btn-primary" href="https://capstone1.jaiswalmanish.com/" target="_blank" role="link">Demo</a></span>
        </div>
        <div class="col-md-6 col-xs-6">
          <span class="pull-left">
            <a class="btn btn-primary" href="https://github.com/manish237/airport-info-app" target="_blank" role="link">Github</a></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row proj-data-container">
    <div class="col-xs-12 col-md-4 col-lg-4 img-container">
      <a href="assets/img/capstone2/01a.png" target="_blank" role="link">
        <img src="assets/img/capstone2/01a.png" alt="Capstone 2 Screenshot 1" class="img-responsive" role="img">
      </a>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 data-container">
      <div class="row title-row">
        <div class="col-md-12">
          <h1 class="title" role="heading">DESTINALYSIS</h1>
        </div>
      </div>
      <div class="row desc-row">
        <div class="col-md-12" role="article">
          <p>Destinalysis brings you the essentials you need to plan your next vacation in one place, be it the best places to stay or the most popular food in the area.Once you have decided your next destination, you can find recommendations for places to stay and eat food. Application brings you top suggestions from popular sources like VRBO and Yelp.</p>
          <p><b>Technologies Used</b> - HTML5, CSS, Bootstrap, JQuery, NodeJS, Express, Mocha, Chai</p>
        </div>
      </div>
      <div class="row link-row">
        <div class="col-md-6 col-xs-6">
          <span class="pull-right">
            <a class="btn btn-primary"  href="https://capstone2.jaiswalmanish.com/" target="_blank" role="link">Demo</a></span>
        </div>
        <div class="col-md-6 col-xs-6">
          <span class="pull-left">
            <a class="btn btn-primary"  href="https://github.com/manish237/project-capstone-2" target="_blank" role="link">Github</a></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row proj-data-container">
    <div class="col-xs-12 col-md-4 col-lg-4 img-container">
      <a href="assets/img/capstone3/01a.png" target="_blank" role="link">
        <img src="assets/img/capstone3/01a.png" alt="Capstone 3 Screenshot 1" class="img-responsive" role="img">
      </a>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 data-container">
      <div class="row title-row">
        <div class="col-md-12">
          <h1 class="title" role="heading">HEALTH BASIC</h1>
        </div>
      </div>
      <div class="row desc-row">
        <div class="col-md-12" role="article">
          <p>Your personal dental health manager! An Oral Health tracking and information delivery application. The application can be used by general public to track their diet, evaluate  oral habits affecting their oral health. Application will provide a platform for users to interact with registered medical practitioners to help answer their health related concerns anonymously. The interaction can be available through online chat or one to one messages.</p>
          <p><b>Technologies Used</b> - HTML5, CSS, Bootstrap, AngularJS, NodeJS, Express </p>
        </div>
      </div>
      <div class="row link-row">
        <div class="col-md-6 col-xs-6">
          <span class="pull-right">
            <a class="btn btn-primary"  href="https://capstone3.jaiswalmanish.com/" target="_blank" role="link">Demo</a></span>
        </div>
        <div class="col-md-6 col-xs-6">
          <span class="pull-left">
            <a class="btn btn-primary"  href="https://github.com/manish237/final-capstone" target="_blank" role="link">Github</a></span>
        </div>
      </div>
    </div>
  </div>

</div>
