<div class="row parent-container">
  <div class="col-xs-12 form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" role="form">
      <div class="row form-row">
        <div class="col-xs-12 col-md-12 col-lg-12"><h1>Contact Me</h1></div>
      </div>
      <div class="row form-row">
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-3 col-md-4 col-lg-4">
          <label for="email">Email</label>
        </div>
        <div class="col-xs-7 col-md-4 col-lg-4 form-group">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
      </div>
      <div class="row form-row">
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-3 col-md-4 col-lg-4">
          <label for="subject">Subject</label>
        </div>
        <div class="col-xs-7 col-md-4 col-lg-4 form-group">
           <input
              type="text"
              id="subject"
              formControlName="subject"
              class="form-control"
              #imagePath>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
      </div>
      <div class="row form-row">
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-3 col-md-4 col-lg-4">
          <label for="message">Message</label>
        </div>
        <div class="col-xs-7 col-md-4 col-lg-4 form-group">
            <textarea
              type="text"
              id="message"
              class="form-control"
              formControlName="content"
              rows="6"></textarea>
        </div>
        <div class="col-xs-1 col-md-2 col-lg-2"></div>
      </div>
      <div class="row form-row">
        <div class="col-xs-12">
          <button
            type="submit"
            role="button"
            class="btn btn-success"
            [disabled]="!contactForm.valid">Send Email</button>
          <button
            type="button"
            role="button"
            class="btn btn-danger"
            (click)="resetForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
