.parent-container{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.technical, .soft{
  margin-top: 5%;
}
.soft{
  margin-bottom: 10px;
}

.progress,.progress-bar{
  height: 30px;
}

.progress-bar{
  padding:4px;
}

.pbContent{
  font-size: 75%;
}

h4{
  font-size: 100%;
}

.soft-content{
  font-size: 90%;
}

@media (max-width: 340px) {

  h1{
    font-size: 120%;
  }

}
