
<section class = "technical">
  <div class="row">
    <div class="col-xs-12">
      <h1>Technical Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>HTML5</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressHTML" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressHTML/100)*100 + '%'"><span class="pbContent">{{progressHTML}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>CSS3</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressCSS" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressCSS/100)*100 + '%'"><span class="pbContent">{{progressCSS}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>JavaScript</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressJS" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressJS/100)*100 + '%'"><span class="pbContent">{{progressJS}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>REST</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressREST" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressREST/100)*100 + '%'"><span class="pbContent">{{progressREST}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>JAVA</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressJava" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressJava/100)*100 + '%'"><span class="pbContent">{{progressJava}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>C++</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressC" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressC/100)*100 + '%'"><span class="pbContent">{{progressC}}</span>
        </div>
      </div>
    </div>
  </div>

</section>
<hr>
<section class = "soft">
  <div class="row">
    <div class="col-xs-12">
      <h1>Professional Skills</h1>
    </div>
  </div>

</section>
