<div class="container parent-container">

<section class = "technical" role="region">
  <div class="row">
    <div class="col-xs-12">
      <h1 role="heading">Technical Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">HTML5</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressHTML" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressHTML/100)*100 + '%'"><span class="pbContent">{{progressHTML}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">CSS3</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressCSS" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressCSS/100)*100 + '%'"><span class="pbContent">{{progressCSS}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">JavaScript</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressJS" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressJS/100)*100 + '%'"><span class="pbContent">{{progressJS}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Angular</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressAngular" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressAngular/100)*100 + '%'"><span class="pbContent">{{progressAngular}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">REST</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressREST" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressREST/100)*100 + '%'"><span class="pbContent">{{progressREST}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">JAVA</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressJava" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressJava/100)*100 + '%'"><span class="pbContent">{{progressJava}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">C++</h4>
    </div>
    <div class="col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             [attr.aria-valuenow]="progressC" aria-valuemin="0" aria-valuemax ="100"
             [style.width]="(progressC/100)*100 + '%'"><span class="pbContent">{{progressC}}</span>
        </div>
      </div>
    </div>
  </div>

</section>
<hr>
<section class = "soft" role="region">
  <div class="row">
    <div class="col-xs-12">
      <h1 role="heading">Professional Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Technology</h4>
    </div>
    <div class="col-md-8 soft-content" role="article">
      <p>Quickly master new technologies and apply them to automate/improve existing work processes. Ramping up on new platforms validate PoCs in understanding internal platform workings.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Teams</h4>
    </div>
    <div class="col-md-8 soft-content" role="article">
      <p>Organize highly effective teams and inspire them with hands-on leadership to deliver innovative and far-reaching solutions that provide lasting business value. Mentor teams to grow.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Multi-tasking</h4>
    </div>
    <div class="col-md-8 soft-content" role="article">
      <p>Lead multiple projects at once covering all aspects of development lifecycle: requirement analysis, effort estimation, design, implementation, code review, and deployments.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Collaboration</h4>
    </div>
    <div class="col-md-8 soft-content" role="article">
      <p>Leverage various functional resources to drive major initiatives and provide leadership to drive them to conclusion. Understand different agendas and conflicts and resolve them.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 role="heading">Results</h4>
    </div>
    <div class="col-md-8 soft-content" role="article">
      <p>Develop plans and get stakeholders’ buy-in. Empower the team to execute and anticipate showstoppers. Deliver the exceptional, not merely the expected. Build on lessons learned.</p>
    </div>
  </div>
</section>
</div>
